<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <script src=<%= @bundle_url %>></script>
  <title>AWS Ruby hands-on</title>
</head>

<body>
<h1>AWS Lambda function Demo</h1>
<header>
  <nav>
    <h1>Menu</h1>
    <ul>
      <li><a href="<%= action_url(action = '') %>">Welcome</a>
      <li id="menu-hello"><a href="<%= action_url(action = 'hello') %>">Hello</a>
        <% if request.path_info == '/hello' %>
          <ul id="sub-menu-hello">
            <li id="sub-menu-hello-1"><a href="#">HelloApiCall</a></li>
            <li id="sub-menu-hello-2"><a href="#">HelloApiCallByAjax</a></li>
          </ul>
        <% end %>
      </li>
      <li id="menu-hello"><a href="<%= action_url(action = 'movie') %>">Movie</a>
        <% if request.path_info == '/movie' %>
          <ul id="sub-menu-movie">
            <li id="sub-menu-movie-2"><a href="#">MovieApiCall</a></li>
          </ul>
        <% end %>
      </li>
    </ul>
  </nav>
</header>

<section>
  <%= yield %>
</section>

<footer>
  <small>&copy; 2018 <strong>hiroshima-arc@gmail.com</strong></small>
</footer>

<script src=<%= @bundle_url %>></script>
</body>
</html>